VITE_FIREBASE_API_KEY=AIzaSyBMsbpGsXUJPPGNXmFOho39sxOmUjTVSAk
VITE_FIREBASE_AUTH_DOMAIN=iptv-manager-96283.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=iptv-manager-96283
VITE_FIREBASE_STORAGE_BUCKET=iptv-manager-96283.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=517886801010
VITE_FIREBASE_APP_ID=1:517886801010:web:b99e33c48a1a1985f4feeb
VITE_FIREBASE_MEASUREMENT_ID=G-MBQQKJ0EV3
