rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.uid == "6xLFMmdkUHWpb8iIqkrCyyj0tvl2";
    }

    match /clients/{clientId} {
      allow read, create, update, delete: if isOwner();
    }

    match /apps/{appId} {
      allow read, create, update, delete: if isOwner();
    }
  }
}
